{% extends "./plantilla.html" %}
{% block body %}
<br><br><br><br>
<div class="card">
    <div class="card-title text-center">
        <h3><b>Editar Ciudad</b></h3>
    </div>

    <!-- Mensajes de Confirmación -->
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form id="form-ciudad" action="{% url 'editar_ciudad' ciudad.id_ciu %}" method="post">
        {% csrf_token %}
        <label for="nombre_ciu">Nombre:</label>
        <input type="text" id="nombre_ciu" name="nombre_ciu" value="{{ ciudad.nombre_ciu }}" class="form-control" required 
               pattern="^[A-Za-zÁáÉéÍíÓóÚúÑñ ]+$" 
               title="El nombre solo puede contener letras y espacios">
        <div class="invalid-feedback" id="nombre-ciudad-error"></div>
        <br>
        <button type="submit" class="btn btn-warning">Actualizar</button>
        <a href="{% url 'listar_ciudades' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

<script>
    document.getElementById('nombre_ciu').addEventListener('input', function() {
        var nombre = document.getElementById('nombre_ciu');
        var errorElement = document.getElementById('nombre-ciudad-error');

        if (!nombre.value.match(/^[A-Za-zÁáÉéÍíÓóÚúÑñ\s]+$/)) {
            errorElement.textContent = "El nombre solo puede contener letras y espacios.";
            errorElement.style.display = "block"; 
        } else {
            errorElement.style.display = "none";
        }
    });

    document.getElementById('form-ciudad').addEventListener('submit', function(e) {
        var nombre = document.getElementById('nombre_ciu');
        var errorElement = document.getElementById('nombre-ciudad-error');

        if (!nombre.value.match(/^[A-Za-zÁáÉéÍíÓóÚúÑñ\s]+$/)) {
            e.preventDefault();  // Evitar el envío del formulario
            errorElement.textContent = "El nombre solo puede contener letras y espacios.";
            errorElement.style.display = "block";
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: "El nombre de la ciudad es incorrecto.",
                timer: 2000
            });
        } else {
            errorElement.style.display = "none";
        }
    });
</script>

{% endblock %}
