{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>VEHICULOS</title>

    <!--Importando jQuery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--Importando boostrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <!--Importando dataTables-->
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <script src="//cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <!--importando SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">
    <link href=" {% static 'plantilla/festava/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'plantilla/festava/css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href=" {% static 'plantilla/festava/css/templatemo-festava-live.css' %}" rel="stylesheet">

</head>

<body style="background-color: #fcfcfc;">
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        <i class="bi-person custom-icon me-2"></i>
                        <strong class="text-dark">Bienvenido Vehículos 2024</strong>
                    </p>
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                Vehículos
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'listar_ciudades' %}">Ciudades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'listar_modelos' %}">Modelos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'listar_propietarios' %}">Propietarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'listar_vehiculos' %}">Vehiculos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Bloque para mostrar mensajes -->
    {% if messages %}
    <div class="container mt-3">
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!--Estas dos lineas nos permitiran añadir el contenido entre el menu y el pie de página-->
    {% block body %}
    {% endblock %}

    <footer class="site-footer">
        <!-- Contenido del pie de página -->
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'plantilla/festava/js/jquery.min.js' %}"></script>
    <script src="{% static 'plantilla/festava/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plantilla/festava/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'plantilla/festava/js/click-scroll.js' %}"></script>
    <script src="{% static 'plantilla/festava/js/custom.js' %}"></script>

    <!-- SweetAlert para mensajes -->
    <!-- SweetAlert para mensajes de error en tiempo real -->
    {% if messages %}
    {% for mensaje in messages %}
        <script>
            {% if mensaje.tags == 'error' %}
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: "{{ mensaje }}",
                    timer: 2000  // El mensaje se mostrará durante 2 segundos
                });
            {% else %}
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: "{{ mensaje }}",
                    timer: 2000  // El mensaje se mostrará durante 2 segundos
                });
            {% endif %}
        </script>
    {% endfor %}
{% endif %}

</body>

</html>